.controls-overlay-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  --legenda-content-padding: 0;
}

.controls-overlay-wrapper .legenda-content::-webkit-scrollbar {
  display: none;
}

.controls-overlay-wrapper .legenda-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
