.game-library {
  padding: 2rem 4%;
  margin-top: var(--top-bar-height);
  height: calc(100vh - var(--top-bar-height));
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.game-library::-webkit-scrollbar {
  display: none;
}

.library-header h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.empty-library-message {
  text-align: center;
  margin-top: 10vh;
  color: var(--text-secondary);
}

.empty-library-message h2 {
  font-size: 1.8rem;
  color: var(--text-primary);
}

.empty-library-message p {
  font-size: 1.1rem;
}
