.settings-menu-label {
  font-size: 1rem;
  color: var(--text-secondary);
  flex-shrink: 0;
  margin-right: 10px;
}

.focusable-row.focused .settings-menu-label {
  color: var(--text-primary);
}

.settings-menu-value {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-primary);
}

.settings-menu-value.generic {
  font-weight: normal;
  color: var(--text-secondary);
  font-style: italic;
}

.unsupported-option {
  opacity: 0.5;
}
