.game-library {
  padding: 60px 4%;
  height: 100vh;
  overflow-y: auto;
}

.library-header h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.empty-library-message {
  text-align: center;
  margin-top: 10vh;
  color: var(--text-secondary);
}

.empty-library-message h2 {
  font-size: 1.8rem;
  color: var(--text-primary);
}

.empty-library-message p {
  font-size: 1.1rem;
}
