name: Build AppImage and Create Release

on:
  push:
    branches:
      - master
    tags:
      - "**"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - arch: "x64"
            docker_arch: "amd64"
          - arch: "arm64"
            docker_arch: "arm64"

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build the AppImage package for ${{ matrix.arch }}
        run: bash ./docker-create-appimage.sh ${{ matrix.docker_arch }}

      - name: Rename AppImage artifact
        run: mv release.AppImage lutris-gamepad-ui-${{ matrix.arch }}.AppImage

      - name: Upload AppImage artifact
        uses: actions/upload-artifact@v4
        with:
          name: appimage-${{ matrix.arch }}
          path: lutris-gamepad-ui-${{ matrix.arch }}.AppImage

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download all AppImage artifacts
        uses: actions/download-artifact@v4
        with:
          path: release-assets

      - name: Create GitHub Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          files: release-assets/**/*.AppImage
          generate_release_notes: true
